@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Flaticon.woff2") format("woff2"),
         url("../fonts/Flaticon.woff") format("woff"),
         url("../fonts/Flaticon.ttf") format("truetype"),
         url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
  }

i[class^="pbmit-grevo-icon-"]:before, i[class*=" pbmit-grevo-icon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
}

.pbmit-grevo-icon-live-chat:before {
    content: "\f101";
}
.pbmit-grevo-icon-location:before {
    content: "\f102";
}
.pbmit-grevo-icon-time-call:before {
    content: "\f103";
}
.pbmit-grevo-icon-send:before {
    content: "\f104";
}
.pbmit-grevo-icon-email:before {
    content: "\f105";
}
.pbmit-grevo-icon-car:before {
    content: "\f106";
}
.pbmit-grevo-icon-car-battery:before {
    content: "\f107";
}
.pbmit-grevo-icon-battery-status:before {
    content: "\f108";
}
.pbmit-grevo-icon-car-1:before {
    content: "\f109";
}
.pbmit-grevo-icon-discharge:before {
    content: "\f10a";
}
.pbmit-grevo-icon-electric-car:before {
    content: "\f10b";
}
.pbmit-grevo-icon-electric-bus:before {
    content: "\f10c";
}
.pbmit-grevo-icon-electric-station:before {
    content: "\f10d";
}
.pbmit-grevo-icon-plugin:before {
    content: "\f10e";
}
.pbmit-grevo-icon-electricity:before {
    content: "\f10f";
}
.pbmit-grevo-icon-energy:before {
    content: "\f110";
}
.pbmit-grevo-icon-electric-car-1:before {
    content: "\f111";
}
.pbmit-grevo-icon-school-bus:before {
    content: "\f112";
}
.pbmit-grevo-icon-motorbike:before {
    content: "\f113";
}
.pbmit-grevo-icon-electricity-1:before {
    content: "\f114";
}
.pbmit-grevo-icon-electric:before {
    content: "\f115";
}
.pbmit-grevo-icon-electricity-2:before {
    content: "\f116";
}
.pbmit-grevo-icon-electric-vehicle:before {
    content: "\f117";
}
.pbmit-grevo-icon-station:before {
    content: "\f118";
}
.pbmit-grevo-icon-electric-car-2:before {
    content: "\f119";
}
.pbmit-grevo-icon-electric-train:before {
    content: "\f11a";
}
.pbmit-grevo-icon-car-parking:before {
    content: "\f11b";
}
.pbmit-grevo-icon-hybrid-solution:before {
    content: "\f11c";
}
.pbmit-grevo-icon-hybrid-solution-1:before {
    content: "\f11d";
}
.pbmit-grevo-icon-hybrid-car:before {
    content: "\f11e";
}
.pbmit-grevo-icon-home:before {
    content: "\f11f";
}
.pbmit-grevo-icon-fast-charge:before {
    content: "\f120";
}
.pbmit-grevo-icon-electric-station-1:before {
    content: "\f121";
}
.pbmit-grevo-icon-placeholder:before {
    content: "\f122";
}
.pbmit-grevo-icon-power-generation:before {
    content: "\f123";
}
.pbmit-grevo-icon-self-driving:before {
    content: "\f124";
}
.pbmit-grevo-icon-battery:before {
    content: "\f125";
}
.pbmit-grevo-icon-stopwatch:before {
    content: "\f126";
}
.pbmit-grevo-icon-stopwatch-1:before {
    content: "\f127";
}
.pbmit-grevo-icon-speedometer:before {
    content: "\f128";
}
.pbmit-grevo-icon-vegan:before {
    content: "\f129";
}
.pbmit-grevo-icon-quality-control:before {
    content: "\f12a";
}
.pbmit-grevo-icon-quality:before {
    content: "\f12b";
}
.pbmit-grevo-icon-tow-truck:before {
    content: "\f12c";
}
.pbmit-grevo-icon-tow-truck-1:before {
    content: "\f12d";
}
.pbmit-grevo-icon-tow-truck-2:before {
    content: "\f12e";
}
.pbmit-grevo-icon-towing-vehicle:before {
    content: "\f12f";
}
.pbmit-grevo-icon-towing-vehicle-1:before {
    content: "\f130";
}
.pbmit-grevo-icon-tow-truck-3:before {
    content: "\f131";
}
.pbmit-grevo-icon-tow-truck-4:before {
    content: "\f132";
}
.pbmit-grevo-icon-crane-truck:before {
    content: "\f133";
}
.pbmit-grevo-icon-tow-truck-5:before {
    content: "\f134";
}
.pbmit-grevo-icon-crane:before {
    content: "\f135";
}
.pbmit-grevo-icon-repair:before {
    content: "\f136";
}
.pbmit-grevo-icon-breakdown:before {
    content: "\f137";
}
.pbmit-grevo-icon-maintenance:before {
    content: "\f138";
}
.pbmit-grevo-icon-authentication:before {
    content: "\f139";
}
.pbmit-grevo-icon-car-rental:before {
    content: "\f13a";
}
.pbmit-grevo-icon-locked-car:before {
    content: "\f13b";
}
.pbmit-grevo-icon-electric-car-3:before {
    content: "\f13c";
}
.pbmit-grevo-icon-fuel:before {
    content: "\f13d";
}
.pbmit-grevo-icon-gas:before {
    content: "\f13e";
}
.pbmit-grevo-icon-oil:before {
    content: "\f13f";
}
.pbmit-grevo-icon-flat-tire:before {
    content: "\f140";
}
.pbmit-grevo-icon-flat-tire-1:before {
    content: "\f141";
}
.pbmit-grevo-icon-flat-tire-2:before {
    content: "\f142";
}
.pbmit-grevo-icon-clip:before {
    content: "\f143";
}
.pbmit-grevo-icon-man:before {
    content: "\f144";
}
.pbmit-grevo-icon-hat:before {
    content: "\f145";
}
.pbmit-grevo-icon-pump:before {
    content: "\f146";
}
.pbmit-grevo-icon-car-2:before {
    content: "\f147";
}
.pbmit-grevo-icon-tyre:before {
    content: "\f148";
}
.pbmit-grevo-icon-battery-1:before {
    content: "\f149";
}
.pbmit-grevo-icon-real-estate:before {
    content: "\f14a";
}
.pbmit-grevo-icon-open:before {
    content: "\f14b";
}
.pbmit-grevo-icon-wireless-charging:before {
    content: "\f14c";
}
.pbmit-grevo-icon-phone-message:before {
    content: "\f14d";
}
